.product-image {
  background: linear-gradient(to top, #94e1f4, #6dd5ed);
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease-in-out;


  > img {
    max-width: 100%;
    max-height: 100%;
  }
}

.product-details {
  padding: 24px 32px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease-in-out;

}

.product {
  width: 400px;
  height: 200px;
  margin: 5rem 5rem 5rem;
  display: flex;
  overflow: hidden;
  box-shadow: -20px 10px 30px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: rgb(198, 18, 18);
  border-radius: 10px;
  &:hover {
    text-decoration: none;
    color: #333;
  }

  &.is-zoomed {
    .product-image {
      width: 100%;
    }
    .product-details {
      width: 0;
      padding: 0;
    }
  }
}

.item-details-page {
  width: 100%;
  box-shadow: none;
  border-radius: 0;
}


.patta{
width: 30rem;
border-radius: 10px;
padding: 0rem;
}


.pattas {

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;

  grid-auto-rows: auto;

  grid-gap: 1rem;

  }
