
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navcolor">
  <a class="navbar-brand" href="#"> <h1 style="font-size: 90px;color:red">Nucleolus</h1> </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>

  <div class="collapse navbar-collapse" id="navbaaar" style="background-color: rgb(26, 24, 140);">
    <div class="sidenav1">
       <ul class="navbar-nav mr-auto sidenav" id="navAccordion" style="margin-top: 8.7rem;">
      <li class="nav-item active bg-b">
        <a class="nav-link" href="#"> <h3 ><i class="fa fa-address-card" aria-hidden="true"></i>
DashBoard</h3>   </a>
      </li>
        <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3 ><i class="fa fa-user-md" aria-hidden="true"></i>
Treatements</h3>  </a>
      </li>
      <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-share-square" aria-hidden="true"></i>
Claims</h3>  </a>
      </li>

      <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-check-square-o" aria-hidden="true"></i>
Valid Claims</h3>  </a>
      </li>
          <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-question-circle" aria-hidden="true"></i>
Invalid Claims</h3>  </a>
      </li>
      <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-picture-o" aria-hidden="true"></i>
Gallery</h3>   </a>
      </li>

       <li class="nav-item active bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-address-card" aria-hidden="true"></i>
DashBoard</h3>   </a>
      </li>
        <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-user-md" aria-hidden="true"></i>
Treatements</h3>  </a>
      </li>
      <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-share-square" aria-hidden="true"></i>
Claims</h3>  </a>
      </li>

      <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-check-square-o" aria-hidden="true"></i>
Valid Claims</h3>  </a>
      </li>
          <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-question-circle" aria-hidden="true"></i>
Invalid Claims</h3>  </a>
      </li>
      <li class="nav-item bg-b">
        <a class="nav-link" href="#"> <h3><i class="fa fa-picture-o" aria-hidden="true"></i>
Gallery</h3>   </a>
      </li>


      <div class="sidenavb"></div>
    </ul>
    </div>

    <form class="form-inline mx-auto mt-2">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
    <img src="https://marketplace.magento.com/media/catalog/product/4/a/4acb_rsz_admin-logo_1.png" height="60px">&nbsp;&nbsp;&nbsp;
    <h3 style="color: white;">Admin</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3 style="color: white;">Logout</h3>
  </div>
</nav>


<main class="container mt-6">

  {{yield}}


</main>
