<GeneralAdminContainer>
<div class="d-flex bd-highlight">
  <div class="p-2 flex-fill bd-highlight">
    <div class="d-flex justify-content-start">
  <div style="margin:10rem 0rem;">
  <h1>DashBoard</h1>
  <div class="cb shadow bg-b p-2 mt-5 rounded card text-center claimcount" style="width: 15rem;">
    <div class="card-body ">
      <h5 class="card-title">Total Claims</h5>
      <h4>20</h4>
    </div>
  </div>
   <div class="shadow bg-b p-2 mt-5 rounded card text-center claimcount" style="width: 15rem;">
    <div class="card-body cb">
      <h5 class="card-title">Valid Claims</h5>
      <h4>18</h4>
    </div>
  </div>
   <div class="shadow bg-b p-2 mt-5 rounded card text-center claimcount" style="width: 15rem;">
    <div class="card-body cb">
      <h5 class="card-title">Invalid Claims</h5>
      <h4>2</h4>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div class="p-2 flex-fill bd-highlight" style="margin-top: 9rem;">
      <div class="mt-8">
    <img src="/pi.png" class="chart" alt="" ><br>
    <img src="/bar.png" class="chart"  alt="">
  </div>
  </div>
</div>

</GeneralAdminContainer>