<GeneralAdminContainer>
  <div style="margin-top: 150px;">
  <h1>DashBoard</h1>
  <div class="shadow p-2 bg-white mt-5 rounded card text-center" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">Total Claims</h5>
      <h4>20</h4>
    </div>
  </div>
   <div class="shadow p-2 bg-white mt-5 rounded card text-center" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">Valid Claims</h5>
      <h4>18</h4>
    </div>
  </div>
   <div class="shadow p-2 bg-white mt-5 rounded card text-center" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">Invalid Claims</h5>
      <h4>2</h4>
    </div>
  </div>
  </div>
</GeneralAdminContainer>