<div class="product-details">

  {{!-- Header --}}
  <section>
    <h3>{{@pname}}</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
  </section>

  {{!-- Price --}}
  <section>
    <del class="small text-black-50">{{@oprice}}</del>
    <i class="text-danger font-weight-bold">{{@cprice}}</i>
  </section>
</div>