
<GeneralContainer>
<div>
<div class="jumbotron">
  <h1 class="display-4">Choose your Treatement and Claim</h1>
  <p class="lead">Choose the Treatement Click on the claim and add you Claim.</p>
  <hr class="my-4">
  <p>Best place to find out your Claim validity status</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="pattas">
{{#each @model as |product|}}
<ProductList @product={{product}}/>
{{/each}}
</div>


</div>
</GeneralContainer>
