
<GeneralContainer>
<h2 style="margin: 2% 5% 5%;"> Choose your Treatement and Claim</h2>

<div class="serv">
  <ul>
{{#each @model as |product|}}

<ProductList @product={{product}}/>

{{/each}}
</ul>
</div>
</GeneralContainer>
