{{page-title "Productdetail"}}
<GeneralContainer>
<div class="product item-details-page">
  <Product::Image />
  <Product::Details />
</div>
<h5 class="mt-5">Description</h5>
<p>Tummy Trimmer Stomach And Weight Loss Equipment -Double Spring</p>

</GeneralContainer>
{{outlet}}